.app_header {
  font-size: initial;
  color: #43425d;
  text-align: left;
  padding-left: 5%;  
  margin: 0;
}
.h1_tag{
  font-size: inherit;
    margin-top: 2%;
}

h1{
  font-size: inherit;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
